<a href="<%=new_session_url%>">
<input type="submit" value="SIGN IN"></a>

<section id="create_account">
<h1>CREATE ACCOUNT</h1>
<form action="<%=users_url%>" method='post'>
<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <label for="email">Email: 
    <input type="text" name="user[email]" value="">
  </label>

  <label for="password">Password: 
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" value="CREATE ACCOUNT">
</form>
</section>